<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="ex01.mappers.CatBoardCommentMapper">
 	
 	<select id="selectList" resultType="vo.CatBoardCommentVO">
 		select * from catboardcomment 
 	</select>
 	
 	
 	<select id="selectOne" resultType="vo.CatBoardCommentVO">
 		select * from CatBoardComment where seq=#{seq}
 	</select>
 
 	<insert id="insert">
 		insert into CatBoardComment values(#{seq},#{id},#{content},(select nvl(max(counter),0)+1 from catboardcomment))
 	</insert>
 	
 	<update id="update">
 		update catboardcomment set content=#{content} where 
 	</update>
 	
 	<delete id="delete">
 		delete from catboardcomment where counter=
 	</delete>
 	
 
 </mapper> 