<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="ex01.mappers.CatBoardMapper">
  	
  	<select id="selectList" resultType="vo.CatBoardVO">
  		select seq,id,title,content,regdate,cnt,comments from CatBoard order by seq desc
  	</select>
  	
  	<select id="selectOne" resultType="vo.CatBoardVO">
  		select seq,id,title,content,regdate,cnt,comments from CatBoard 
  		where seq=#{seq}
  	</select>
  	
     <insert id="insert"> 
  		<!-- insert into catboard values ((select nvl(max(seq),0)+1 from catboard),#{id},#{title},#{content},#{regdate},#{cnt},#{comments})  
  		values 다음에 공백 있으면 안된다!!!!!!!!! -->
  		insert into catboard(seq,id,title,content) values((select nvl(max(seq),0)+1 from catboard),#{id},#{title},#{content})  
 	</insert>
 	
 	<update id="countUp">
 		update catboard set cnt=cnt+1 where seq=#{seq}
 	</update>
 	
 	<update id="update">
 		update catboard set title=#{title},content=#{content},regdate=sysdate where seq=#{seq}
 	</update>

	<delete id="delete">
		delete from catboard where seq=#{seq}
	</delete>
	
	<select id="pageList" resultType="vo.CatBoardVO">
		select * from (select rownum rm, b.* from (select * from catboard order by seq desc) b) 
		where rm between #{startno} and #{endno}
	</select>
  
  	<select id="totalRowCount" resultType="int">
  		select count(*) from catboard
  	</select>
  	
  
  </mapper>