<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ex01.mappers.CatBoardImageUploadMapper">
	<select id="selectList" resultType="vo.CatBoardImageUploadVO">
		select * from catboardimage where seq=#{seq}
	</select>

	<insert id="insert">
		insert into catboardimage values(#{seq},#{uploadfile})
	</insert>
	
</mapper>