<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ex01.mappers.CatStoreMapper">
	<select id="selectList" resultType="vo.CatStoreVO">
		select * from catstore where group1=#{group1} and group2=#{group2}
	</select>
	
	<select id="selectOne" resultType="vo.CatStoreVO">
		select * from catstore where seq=#{seq}
	</select>
	
	<select id="searchRowCount" resultType="int">
		<![CDATA[
		select count(*) from catstore where (seq>0]]>
		<include refid="search"></include>
	</select>
	
	<select id="searchList" resultType="vo.CatStoreVO">
		<![CDATA[
		select * from 
		(select s.*,ROW_NUMBER() OVER(order by seq desc) rnum
		from catstore s where seq>0]]>
		<include refid="search"></include>
		where rnum between #{startno} and #{endno} order by seq desc
	</select>
	
	<sql id="search">
		<choose>
			<when test="(group1 != null) and (group2 != null)">
				and group1=#{group1} and group2=#{group2} and productcode in (select productcode from product where name like CONCAT(CONCAT('%',#{keyword}),'%')))
			</when>
			<when test="group1 != null">
				and group1=#{group1} and productcode in (select productcode from product where name like CONCAT(CONCAT('%',#{keyword}),'%')))
			</when>
			<otherwise>
				and productcode in (select productcode from product where name like CONCAT(CONCAT('%',#{keyword}),'%')))
			</otherwise>
		</choose>
	</sql>
</mapper>