@charset "UTF-8";

*{
	
	margin: 0 auto;
	 text-align: center; 
	background-color: LavenderBlush;
}
#joinformimg{
	width: 10%;
	height: 15%;
	margin: 30px 0 0 0;
}
/* 
#jointext{
	text-align: left;
} 
input{
	text-align: center;
} */
span{
	color: red;
	font-size: 12px;
}

