@charset "UTF-8";
body{
	margin: 0;
}
.intro{
	position: relative;
	width: 100%;
	background-color: green;
	text-align: center;
}
#ad_banner{
	position: relative;
	display: inline-block;
	width: 90%;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
}
.slide_wrap{
	width: 410%;
	margin: 0;
	padding: 0;
	text-align: center;
	transition: 1s;
}
.slide_item{
	float:left;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#ad_banner_remote{
	position: absolute;
	right: 5%;
	bottom: 1%;
	padding: 5px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);
}
.banner_btn{
	width: 50px;
	height: 50px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 50%;
	outline: none;
	border: none;
	font-size: 20pt;
}
.container{
	position: relative;
	background-color: yellow;
	width: 90%;
	margin: 0 auto;
	text-align: left;
	font-size: 20pt;
	font-weight: bold;
}
.top5{
	width: 100%;
	margin: 0 auto;
	background-color: red;
	font-size: medium;
	font-weight: normal;
}