@charset "UTF-8";
body{
	margin: 0;
	background-color: snow;
}
.intro{
	position: relative;
	width: 100%;
	text-align: center;
}
#ad_banner{
	position: relative;
	display: inline-block;
	width: 90%;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
}
.slide_wrap{
	width: 410%;
	margin: 0;
	padding: 0;
	text-align: center;
	transition: 1s;
}
.slide_item{
	float:left;
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#ad_banner_remote{
	position: absolute;
	right: 5%;
	bottom: 1%;
	padding: 5px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);
}
.banner_btn{
	width: 50px;
	height: 50px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 50%;
	outline: none;
	border: none;
	font-size: 20pt;
}
.container{
	position: relative;
	background-color: yellow;
	width: 90%;
	margin: 0 auto;
}
.top5{
	width: 100%;
	margin: 0 auto;
	text-align: right;
	background-color: snow;
}
#top5_menu{
	display: table;
	position: relative;
	table-layout: fixed;
	right: 0;
	background-color: snow;
}
.top5_buttons{
	display: table-cell;
	background-color: Lavender;
	position: relative;
	margin:0;
	padding: 0;
	width: 90px;
	font-weight: bold;
	bottom: -6px;
	height: 30px;
	border: none;
	outline: none;
}
.active{
	border-top: 3px solid;
	background-color: LightSteelBlue;
}
#top5_contents{
	display: table;
	width: 100%;
	table-layout: fixed;
	border-top: 5px solid;
	border-bottom: 5px solid;
}
.top{
	display: table-cell;
	height: 300px;
	text-align: center;
}
.top_images{
	width: 90%;
	height: 200px;
	overflow: hidden;
}
.top_images:hover .top_image{
	transform: scale(1.1);  
	transition: 0.2s;
}