@charset "UTF-8";
body{
	margin: 0;
}
.intro{
	position: relative;
	width: 100%;
	background-color: black;
	text-align: center;
}
#ad_banner{
	display: inline-block;
	width: 90%;
	height: 300px;
	margin: 0 auto;
	transition: 1s;
}
.slide_wrap{
	width: 400%;
	margin: 0;
	padding: 0;
}
.slide_item{
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.slide_wrap:nth-child(1){
	background-color: aqua;
}
.slide_wrap:nth-child(2){
	background-color: blue;
}
.slide_wrap:nth-child(3){
	background-color: fuchsia;
}
.slide_wrap:nth-child(4){
	background-color: gray;
}
.container{
	position: relative;
	background-color: yellow;
	width: 90%;
	margin: 0 auto;
	text-align: left;
	font-size: 20pt;
	font-weight: bold;
}
.top5{
	width: 100%;
	margin: 0 auto;
	background-color: red;
	font-size: medium;
	font-weight: normal;
}