@charset "UTF-8";

*{
	background-color: snow;
}

body{
	text-align: center;
}

#catboard_menu{
	margin:0 auto;
	width: 80%;
	text-align: right;
	margin-bottom: 10px;
}

#table {width: 80%; display: table; margin: 0 auto; text-align: center;}

#rowtitle{color: MidnightBlue; font-size: 30px; font-weight: bold;}

.row {display: table-row;}

.cell {display: table-cell; padding: 3px; border-bottom: 1px solid #DDD;}

.col1 {width: 10%;}

.col2 {width: 10%;}

.col3 {width: 40%;}

.col3 > a{
	text-decoration: none;
	color: black;
}
.col3 > a:hover{
	color: blue;
	font-weight: bold;
}

.col1 > a{
	text-decoration: none;
	color: black;
}
.col1 > a:hover{
	color: blue;
	font-weight: bold;
}



.col4 {width: 10%;}

.col5 {width: 10%;}

.col6 {width: 10%;}



